@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.App {
  /* font-family: Open Sans,Courier New,Courier,monospace; */
  background-color: #f2f2f2;
  min-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.form_input_box {
  width: 90%;
  height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto;
}
p{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}

button{

    border-radius: 1px;
    background-image: -webkit-radial-gradient(50% -46%,circle,#737373,#403d39);
    background-image: -o-radial-gradient(50% -46%,circle,#737373,#403d39);
    background-image: radial-gradient(circle at 50% -46%,#737373,#403d39);
    padding: 10px 20px;
    color: #fff;
    border: none;

}
.form_img_prev {
  width: 50%;
  height: 300px;
  background-position: 50%;
  background-size: cover;
  margin: 10px auto 5px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
  background-color: #fff;
}
.form_button {
  position: relative;
  left: 90%;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  font-family: Open Sans,Courier New,Courier,monospace;
  font-size: 12px;
}
.form_text_box {
  width: 90%;
  margin: 3px auto 10px;
}
.searchimg{
  background: #FF9770;
  height: 28px;
  padding: 3px;
}
.myposts{
  display: flex;
  align-items: center;
}

.searchinput{
  height: 28px;
  width: 65%;
}
.searchbutton{
  height: 34px;
}
p {
  width: 5rem;
}
.searchbar{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  height: 70px;

}
.dash_filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  height: 50px;

  
  
}
.auth{
  padding-left: 100px;
  background-image: -webkit-linear-gradient(351deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -100px;
}
.authbuttons{
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.authbox{
  background-image: -webkit-linear-gradient(353deg,#ff7a6e,#ffd670);
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
  border-radius: 8px;
  padding: 20px;
  height: 55vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.auth_title {
  font-size: 80px;
  font-weight: 700;
  margin: 0 auto;
}

.nav_image {
  width: 40px;
}

.logout {
  position: absolute;
  bottom: 20px;
  left: 30px;
  width: 40px;
  padding-bottom: 20px;
}
img > .nav_links {
  width: 40px;
}

.nav_links {
  position: relative;
  height: 120px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0 45px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.dashboard{
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
.dash_posts_container{
  width: 100%;
  min-height: 200px;
}
.nav_profile_container {
  height: 100px;
  font-size: 16px;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.form {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  margin-top: -20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-top: 20px;
}
.content_box {
  border-radius: 2px;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 20px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
}
.title{
  font-size: 40px;
    font-weight: 700;
    color: #ff9770;
    
    
    
}
.nav {
  width: 100px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  color: #fff;
  background-image: -webkit-gradient(linear,left bottom,left top,from(#ff7abe),to(#ff9770));
  background-image: -webkit-linear-gradient(bottom,#ff7abe,#ff9770);
  background-image: -o-linear-gradient(bottom,#ff7abe,#ff9770);
  background-image: linear-gradient(0deg,#ff7abe,#ff9770);
  -webkit-box-shadow: 10px 0 20px 0 rgba(0,0,0,.1), 5px 0 5px rgba(0,0,0,.2);
  box-shadow: 10px 0 20px 0 rgba(0,0,0,.1), 5px 0 5px rgba(0,0,0,.2);
}